<h1>Pending List</h1>
<a href="{% url 'create-task' %}">Create new tasks</a>

<table>
    <tr>
        <th>Elements</th>
        <th></th>
        <th></th>
    </tr>

    {% for task in tasks %}

        <tr>
            <td>{{ task.title }}</td>
            <td><a href="{% url 'task' task.id %}">Go!</a></td>
            <td><a href="{% url 'update-task' task.id %}">Edit!</a></td>
            <td><a href="{% url 'delete-task' task.id %}">Delete!</a></td>
        </tr>

        {% empty %}
            <h3>No elements</h3>
    {% endfor %}

</table>
